.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2%;
  background: grey;
}
.logo {
  color: white;
}

.links {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  color: white;
  text-transform: uppercase;
}
.link {
  padding-left: 40px;
}
.active {
  color: yellow;
}
