.filmsBlock {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.filmBlock {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 4rem;
  &__img {
    width: 320px;
    height: 400px;
    margin-right: 4rem;
  }
  &__info {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
  }
  &__shotInfo {
    padding-bottom: 20px;
    display: flex;
  }
}
.filmInfo {
  &__name {
    padding-top: 20px;
    padding-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
  }
  &__buttons {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  &__button {
    margin-right: 20px;
    padding: 3px;
  }
}
.showButton {
  padding: 4px;
  margin: 14px;
}
