.quoteBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3%;
}
.quoteText {
  font-size: 36px;
  font-weight: bold;
  padding-top: 40px;
  padding-bottom: 20px;
  text-align: center;
}
.quoteAutor {
  font-size: 22px;
  padding-bottom: 40px;
  text-align: right;
}
.quoteButton {
  padding: 10px 20px;
  border-radius: 10px;
  background: grey;
  color: white;
}
