@import "../../styles/media.scss";

.productsBlock {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.productsFilterBlock {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.productsFilterButton {
  width: 100%;
  @include screen-tb {
    width: 80%;
  }
}
.productsFilterSelect {
  width: 100%;
  padding-bottom: 20px;
  @include screen-tb {
    width: 20%;
  }
}

.product {
  width: 100%;
  margin: 2% 0% 0% 0%;
  padding: 2%;
  background: rgb(219, 214, 214);
  border-radius: 20px;
  @include screen-tb {
    width: 48%;
  }
  @include screen-lp {
    width: 30%;
  }
}
.productButton {
  cursor: pointer;
  color: white;
  background: grey;
  padding: 5px 10px;
  border: 3px solid grey;
  border-radius: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  @include screen-tb {
    padding: 10px 30px;
    margin-right: 40px;
  }
}
.productName {
  text-align: center;
  padding-top: 1%;
  padding-bottom: 2%;
  font-size: 16px;
}
.productText {
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 14px;
}
.productImgBlock {
  width: 100%;
  display: flex;
  justify-content: center;
}
.productImg {
  margin: 2% auto;
  width: 60%;
  border-radius: 10px;
}
