* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
}

html,
body {
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
.links {
  display: inline;
  padding-right: 40px;
}
.link {
  cursor: pointer;
  font-size: 26px;
  line-height: 30px;
  padding-bottom: 20px;
  text-transform: uppercase;
}
.wrapper {
  padding: 2rem 7rem;
}
.home {
  height: 100vh;
}
span {
  color: orange;
}
.films {
  padding-top: 6rem;
  min-height: 100vh;
}
